#game {
	background-image: url(../images/gameboy.png);
	width:390;
	height:298;
	padding-top: 90px;
	padding-left: 150px;
	font-family: 'VT323', monospace;
	margin:auto;
	font-size: 16;
}


.letters{
	color: transparent;
}

.revealed {
	color: black;
}

h1 {
	font-weight: bold;
	font-size:20;
}

h2 {
	font-weight: bold;
	font-size: 18;
}

body {
	padding-top: 10%;
	padding-left: 25%;
	padding-right: 25%;
	background: lightgrey;
}